/* style container with margins */
body > div.container {
    margin: 5rem 0;
}

/* less margin for mobile screens */
@media only screen and (max-width: 650px) {
    body > div.container {
        margin: 2.5rem 0;
    }
}

/* style tabs */
body > div.container > div.tabs > div {
    margin-top: 3.75rem;
}

/* style tab buttons and parent container */
body > div.container > ul.tabButtons {
    display: block;
    list-style: none;
    overflow: hidden;
}
body > div.container > ul.tabButtons > li {
    display: block;
    float: left;
    min-height: calc(3.25rem + 4px);
    box-sizing: border-box;
    font-size: 1.375rem;
    line-height: 2.25rem;
    color: var(--dark-text-color);
    font-weight: bold;
    padding: 0.5rem 0.625rem;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    user-select: none;
}
/* margin */
body > div.container > ul.tabButtons > li:not(:last-child) {
    margin-right: 0.5rem;
}

/* mobile view */
@media only screen and (max-width: 650px) {
    body > div.container > ul.tabButtons > li {
        width: 50%;
        text-align: center;
        font-size: 1.25rem;
        padding: 0.5rem 0.5rem;
        margin-right: 0 !important;
    }
}

/* display corresponding tabs when tab buttons are active (and show activeness on tab buttons via color and border color) */

/* don't show tabs normally (unless search is running) */
body > div.container:not(.search_results_shown) > div.tabs > div.openProposalsTab, body > div.container:not(.search_results_shown) > div.tabs > div.completedProposalsTab {
    display: none;
}

/* show tabs */
body > div.container.openProposalsTabShown > div.tabs > div.openProposalsTab, body > div.container.completedProposalsTabShown > div.tabs > div.completedProposalsTab {
    display: block !important;
}

/* highlight tab buttons (search results tab button is highlighted when search is active) */
body > div.container.search_results_shown > ul.tabButtons > li.searchResultsButton, body > div.container.openProposalsTabShown > ul.tabButtons > li.openProposalsButton, body > div.container.completedProposalsTabShown > ul.tabButtons > li.completedProposalsButton {
    border-color: var(--theme-color);
    color: var(--theme-color);
}

/* search proposals class functionality */
body > div.container:not(.search_results_shown) > ul.tabButtons > li.searchResultsButton {
    display: none;
}
body > div.container.search_results_shown > ul.tabButtons > li:not(.searchResultsButton) {
    display: none;
}
body > div.container.search_results_shown > div.tabs > div > div.proposal_block:not(.active) {
    display: none;
}

/* style proposal block */
body > div.container > div.tabs > div > div.proposal_block {
    background-color: #fff;
    box-shadow: 0 0 10px 4px var(--lighter-color), 0 0 0 transparent;
    border-radius: 5px;
    padding: 2rem;
    overflow: hidden;
}

body > div.container > div.tabs > div > div.proposal_block > div.row {
    display: block;
    float: left;
    width: 100%;
    clear: both;
}
body > div.container > div.tabs > div > div.proposal_block > div.row > div.col {
    float: left;
    box-sizing: border-box;
}

/* proposal block margin */
body > div.container > div.tabs > div > div.proposal_block:not(:last-child) {
    margin-bottom: 3.5rem;
}

/* first row with title, description, proposer, and vote ends in */

/* title and description */
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:first-child {
    width: calc(100% - 17.5rem);
    padding-right: 2.5rem;
}

/* title */
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:first-child > h1.title {
    font-size: 2.25rem;
    line-height: 1.5;
    margin-bottom: 0.75rem;
    color: var(--dark-text-color);
}

/* description */
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:first-child > p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--medium-text-color);
}

/* expand description button and functionality */
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:first-child > p > a {
    color: var(--theme-color);
    text-decoration: none;
    cursor: pointer;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:first-child > p > a:hover {
    color: var(--dark-color);
    text-decoration: underline;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:first-child:not(.show_full_description) > p.description_full_length {
    display: none;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:first-child.show_full_description > p.description_limited_length {
    display: none;
}

/* proposer and vote ends in */
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:nth-child(2) {
    width: 17.5rem;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:nth-child(2) > div {
    width: 100%;
    min-height: 2rem;
    overflow: auto;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:nth-child(2) > div:not(:last-child) {
    margin-bottom: 1.5rem;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:nth-child(2) > div > * {
    display: block;
    float: left;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:nth-child(2) > div > img, body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:nth-child(2) > div > svg {
    height: 2rem;
    width: 2rem;
    fill: var(--darker-text-color);
    margin-right: 0.75rem;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:nth-child(2) > div > img {
    border-radius: 50%;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:nth-child(2) > div > p {
    font-size: 0.9rem;
    line-height: 2rem;
    color: var(--dark-text-color);
    height: auto;
    width: calc(100% - 2.75rem);
}

/* vote ends in text is lower to match icon view height */
body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:nth-child(2) > div.vote_ends_in > p {
    line-height: 2.2rem;
}

/* make proposer and vote ends in area smaller with less screen size */
@media only screen and (max-width: 1000px) {
    body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:nth-child(2) {
        width: 14rem;
    }
    body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:first-child {
        width: calc(100% - 14rem);
    }
}

/* mobile view for first row */
@media only screen and (max-width: 750px) {
    body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col {
        padding: 0 !important;
        width: 100% !important;
        clear: both !important;
    }
    body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:nth-child(2) > * {
        width: auto !important;
        display: block !important;
        float: left !important;
    }
    body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:nth-child(2) > *:not(:last-child) {
        margin-bottom: 1rem !important;
        margin-right: 1.5rem !important;
    }
    body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:nth-child(2) > div.vote_ends_in > p {
        line-height: 2rem;
    }
    body > div.container > div.tabs > div > div.proposal_block > div.row:first-child > div.col:not(:last-child) {
        margin-bottom: 2rem;
    }
}

/* style voting area */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) {
    margin-top: 2rem;
    box-sizing: border-box;
    min-height: calc(2.5rem + 5px + (4px * 2));
    padding: 4px 0;
    position: relative;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > * {
    display: block;
    float: left;
}

/* voting button container */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container {
    width: auto;
    padding: 0 4px;
}

/* voting buttons */

/* left voting button goes floats right within container; opposite should be true with right voting button as well */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container:first-child > button {
    float: right;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container:last-child > button {
    float: left;
}

/* global */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container > button {
    display: block;
    height: calc(2.5rem + 5px);
    box-sizing: border-box;
    padding: 0 0.8rem;
    border: none;
    cursor: pointer;
    font-size: 0;
    text-align: center;
    border-radius: 3px;
    transition: background-color 0.15s ease-in-out, box-shadow 0.25s ease-in-out;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container > button > * {
    display: inline-block;
    vertical-align: text-top;
}

/* style background colors for voting buttons */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container:first-child > button {
    background-color: var(--green-color);
}
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container:last-child > button {
    background-color: var(--red-color);
}

/* voting button hover effect */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container:last-child > button:hover {
    background-color: var(--red-dark-color) !important;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container:first-child > button:hover {
    background-color: var(--green-dark-color) !important;
}

/* active voting button */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container:first-child > button.active {
    box-shadow: 0 0 0 2px #fff,
    0 0 0 4px var(--green-color);
}
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container:last-child > button.active {
    box-shadow: 0 0 0 2px #fff,
    0 0 0 4px var(--red-color);
}

/* button text and icon */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container > button > p {
    font-size: 0.9rem;
    line-height: 2.5rem;
    color: #fff;
    font-weight: bold;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container > button > svg {
    height: 2.5rem;
    width: 1.5rem;
    box-sizing: border-box;
    padding: 0.65rem 0.125rem;
    fill: #fff;
    margin-right: 0.5rem;
}

/* icon is on the right for button on the right side */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container:first-child > button > svg {
    margin-right: 0;
    margin-left: 0.5rem;
}

/* style voting progress bar */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress {
    width: var(--voting-progress-width);
    height: calc(2.5rem + 5px);
    padding: calc(0.25rem + 2.5px) 2rem;
    box-sizing: border-box;
    position: relative;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress > div {
    display: block;
    float: left;
    height: 2rem;
}

/* style labels */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress > p {
    position: absolute;
    height: 2rem;
    line-height: 2rem;
    color: #fff;
    top: calc(0.25rem + 2.5px);
    font-weight: bold;
    font-size: 0.9rem;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress > p.votes_for_label {
    left: calc(2rem + 0.625rem);
    text-align: left;
}
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress > p.votes_against_label {
    right: calc(2rem + 0.625rem);
    text-align: right;
}

/* style "(including you)" */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress > p > span.current_user_vote {
    opacity: 0.75;
    font-weight: normal;
}

/* "(including you)" should only be displayed when active */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress > p > span.current_user_vote:not(.active) {
    display: none;
}

/* style left progress div */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress > div.votes_for {
    text-align: left;
    background-color: var(--green-color);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
/* style right progress div */
body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress > div.votes_against {
    text-align: right;
    background-color: var(--red-color);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* for completed proposals, don't show voting buttons, and make voting progress bar full width */

/* don't display voting buttons */
body > div.container > div.tabs > div.completedProposalsTab > div.proposal_block > div.row:nth-child(2) > div.voting_button_container {
    display: none !important;
}

/* full width progress bar */
body > div.container > div.tabs > div.completedProposalsTab > div.proposal_block > div.row:nth-child(2) > div.voting_progress {
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
}

/* for full width progress bar (completed proposal), make sure voting bar labels are in the right place */
body > div.container > div.tabs > div.completedProposalsTab > div.proposal_block > div.row:nth-child(2) > div.voting_progress > p.votes_for_label {
    left: 0.625rem;
}
body > div.container > div.tabs > div.completedProposalsTab > div.proposal_block > div.row:nth-child(2) > div.voting_progress > p.votes_against_label {
    right: 0.625rem;
}

/* tablet view of progress bar and voting buttons */
@media only screen and (max-width: 800px) {
    /* less margin between first and second rows */
    body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) {
        margin-top: 1rem;
    }

    /* progress bar is full width */
    body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0.75rem;
    }

    /* for full width progress bar, make sure voting bar labels are in the right place */
    body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress > p.votes_for_label {
        left: 0.625rem;
    }
    body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress > p.votes_against_label {
        right: 0.625rem;
    }

    /* style voting buttons and make sure they are on top */
    body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_button_container:last-child {
        position: absolute;
        right: 0;
    }
}

/* mobile view of progress bar and voting buttons */
@media only screen and (max-width: 600px) {
    /* progress bar container is larger */
    body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress {
        height: calc(5rem + 5px);
    }
    
    /* voting progress labels are under the progress bar, and black color */
    body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress > p {
        top: auto;
        bottom: calc(0.25rem + 2.5px);
        color: var(--dark-text-color);
        width: 50%;
    }

    /* don't display "(including you)" at all */
    body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) > div.voting_progress > p > span.current_user_vote {
        display: none !important;
    }
}

/* super small screens view */
@media only screen and (max-width: 405px) {
    body > div.container > div.tabs > div > div.proposal_block > div.row:nth-child(2) {
        zoom: 85%;
    }
}

/* style loading icon and container */

/* loading icon container */
body > div.container > div.loading_icon_container {
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding-top: 2.5rem;
}

/* loading icon animation */
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* loading icon */
body > div.container > div.loading_icon_container > div.loading_icon {
    width: 3.5rem;
    height: 3.5rem;
    box-sizing: border-box;
    border: 0.35rem solid var(--lighter-color);
    border-radius: 50%;
    border-top-color: var(--theme-color);
    animation: rotating 1.13s linear infinite;
    display: inline-block;
}