/* style container with margins */
body > div.container {
    margin: 5rem 0;
}

/* less margin for mobile screens */
@media only screen and (max-width: 650px) {
    body > div.container {
        margin: 2.5rem 0;
    }
}

/* style tab buttons and parent container */
body > div.container > ul.tabButtons {
    display: block;
    list-style: none;
    overflow: hidden;
    margin-bottom: 3.75rem;
}
body > div.container > ul.tabButtons > li {
    display: block;
    float: left;
    min-height: calc(3.25rem + 4px);
    box-sizing: border-box;
    font-size: 1.375rem;
    line-height: 2.25rem;
    color: var(--dark-text-color);
    font-weight: bold;
    padding: 0.5rem 0.625rem;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    user-select: none;
}
/* margin */
body > div.container > ul.tabButtons > li:not(:last-child) {
    margin-right: 0.5rem;
}

/* mobile view */
@media only screen and (max-width: 650px) {
    body > div.container > ul.tabButtons > li {
        width: 50%;
        text-align: center;
        font-size: 1.25rem;
        padding: 0.5rem 0.5rem;
        margin-right: 0 !important;
    }
}

/* display corresponding tabs when tab buttons are active (and show activeness on tab buttons via color and border color) */

/* show tabs */
body > div.container.openProposalsTabShown > div.tabs > div.openProposalsTab, body > div.container.completedProposalsTabShown > div.tabs > div.completedProposalsTab {
    display: block !important;
}

/* highlight tab buttons */
body > div.container.openProposalsTabShown > ul.tabButtons > li.openProposalsButton, body > div.container.completedProposalsTabShown > ul.tabButtons > li.completedProposalsButton {
    border-color: var(--theme-color);
    color: var(--theme-color);
}