/* this CSS file is the stylesheet unique to the index.php file */

/* if authentication (e.g. login) is loading, show loading icon and nothing else */
body.loading_auth > *:not(.loading_auth_container) {
    display: none !important;
}

/* otherwise, show everything except loading icon */
body:not(.loading_auth) > div.loading_auth_container {
    display: none !important;
}

/* style container height and padding */
body > div.container {
    height: calc(100vh - 8.5rem);
    padding-top: calc((100vh - 8.5rem - 27.5rem) / 2);
}

/* style columns */
body > div.container > div.col {
    display: block;
    float: left;
}

/* style left column and children */
body > div.container > div.col:first-child {
    width: calc(100% - 35rem);
    padding-top: 2.5rem;
}

/* style header */
body > div.container > div.col:first-child > h1.header {
    margin-bottom: 0.875rem;
}

/* style text below header */
body > div.container > div.col:first-child > h1.header + p {
    font-size: 0.9rem;
    line-height: 1.625;
}

/* style login button (same styles as navbar login button) */
body > div.container > div.col:first-child > button.login_alias {
    margin-top: 2.25rem;
    height: 2.5rem;
    line-height: calc(2.5rem - 1px);
    font-size: 0.9rem;
    padding: 0 0.75rem;
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    color: #fff;
    transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    border-radius: 3px;
    box-sizing: border-box;
    vertical-align: top;
    font-weight: bold;
    cursor: pointer;
}

body > div.container > div.col:first-child > button.login_alias:hover {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}

/* style right column and design */
body > div.container > div.col:nth-child(2) {
    box-sizing: border-box;
    padding-left: 10rem;
    width: 35rem;
}

/* design */
body > div.container > div.col:nth-child(2) > div.design {
    width: 25rem;
    height: 25rem;
    position: relative;
    transform: scale(0.9);
}

/* style idea icon */
body > div.container > div.col:nth-child(2) > div.design > div.idea_icon {
    position: absolute;
    left: calc((25rem - 6.5rem) / 2);
    top: calc((25rem - 6.5rem) / 2);
    width: 6.5rem;
    height: 6.5rem;
    box-sizing: border-box;
    padding: 1.25rem;
    border-radius: 50%;
    background-color: #fff;
    border: 0.4rem solid var(--theme-color);
    transform: scale(0);
    transition: transform 0.4s ease-in-out;
    z-index: 9999;
}
body > div.container > div.col:nth-child(2) > div.design > div.idea_icon svg {
    width: 100%;
    height: 100%;
    fill: var(--darker-text-color);
}

/* style each person icon and SVGs */
body > div.container > div.col:nth-child(2) > div.design > div.person_icon {
    position: absolute;
    left: calc( (23rem / 2) + calc(23rem / 2) * var(--parametric-val-x) );
    top: calc( (23rem / 2) + calc(23rem / 2) * var(--parametric-val-y) );
    width: 2rem;
    height: 2rem;
    fill: var(--darker-text-color);
}
body > div.container > div.col:nth-child(2) > div.design > div.person_icon > svg {
    height: 100%;
    width: 100%;
}

/* style person icon lines to center */
body > div.container > div.col:nth-child(2) > div.design > div.person_icon::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.75rem;
    left: 2.5rem;
    width: 0;
    height: 0.5rem;
    transform: scale(-1, -1) rotate(var(--angle));
    transform-origin: -1.5rem 0.25rem;
    background: var(--theme-color);
    transition: width 0.3s ease-in-out;
    transition-delay: var(--transition-delay);
    border-radius: 0.5rem;
}

/* animation */
body > div.container > div.col:nth-child(2) > div.design > div.idea_icon.animation_shown {
    transform: scale(1);
}

body > div.container > div.col:nth-child(2) > div.design.animation_shown > div.person_icon::after {
    width: calc(20rem / 2);
}

/* mobile view (don't display second column) */
@media only screen and (max-width: 850px) {
    body > div.container > div.col:first-child {
        width: 100%;
    }
    body > div.container > div.col:nth-child(2) {
        display: none;
    }
}