/* this CSS file is the stylesheet unique to the submit.php file */

/* style container */
body > div.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* style block */
body > div.container > div.block {
    background-color: #fff;
    box-shadow: 0 0 10px 4px var(--lighter-color), 0 0 0 transparent;
    border-radius: 5px;
    padding: 2rem;
    overflow: hidden;
}

/* style rows */
body > div.container > div.block > div.row {
    float: left;
    width: 100%;
    clear: both;
}

/* style top row with header and description */
body > div.container > div.block > div.row:first-child {
    margin-bottom: 1rem;
}

/* header and animation */
body > div.container > div.block:first-child > div.row:first-child > h1.header {
    font-size: 0;
    line-height: 1.35;
    font-weight: bold;
    color: var(--dark-text-color);
    overflow: hidden;
}

/* container for animated text */
body > div.container > div.block:first-child > div.row:first-child > h1.header > span.word_container {
    overflow: hidden;
    position: relative;
    height: calc(2.75rem * 1.35);
    display: inline-block;
    margin-bottom: 0;
}

/* animated text (each word) */
body > div.container > div.block:first-child > div.row:first-child > h1.header > span.word_container > span.word_animated {
    transform: translateY(110%);
    display: inline-block;
    transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-bottom: 0;
    font-size: 2.75rem;
}

/* add spacing (spaces) between each word */
body > div.container > div.block:first-child > div.row:first-child > h1.header > span.word_container:not(:last-child) {
    margin-right: 0.75rem;
}

/* when animation is triggered on load */
body > div.container > div.block:first-child > div.row:first-child > h1.header.animation_shown > span.word_container > span.word_animated {
    transform: translateY(0px);
}

/* style columns in second row */
body > div.container > div.block > div.row > div.col {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

/* on mobile views, columns are full width and act as rows */
@media only screen and (max-width: 850px) {
    body > div.container > div.block > div.row > div.col {
        width: 100%;
        clear: both;
    }

    /* margin between columns as they are now placed vertically */
    body > div.container > div.block > div.row > div.col:not(:last-child) {
        margin-bottom: 2.5rem;
    }
}

/* description */
body > div.container > div.block:first-child > div.row:nth-child(2) > div.description {
    font-size: 1rem;
    line-height: 1.5;
    padding-right: 2.5rem;
}

/* description "headers" */
body > div.container > div.block:first-child > div.row:nth-child(2) > div.description > p:not(:first-child) {
    margin-top: 1.5rem;
}

/* description lists */
body > div.container > div.block:first-child > div.row:nth-child(2) > div.description > ul {
    padding-left: 3rem;
    margin-top: 0.75rem;
}

/* style submission form */

/* style all direct children (global) */
body > div.container > div.block > div.row:nth-child(2) > div.form > *:not(:last-child) {
    margin-bottom: 1rem;
}

/* input and textarea global styles */
body > div.container > div.block > div.row:nth-child(2) > div.form > input[type=text], body > div.container > div.block > div.row:nth-child(2) > div.form > textarea {
    outline: none;
    width: 100%;
    float: left;
    display: block;
    box-sizing: border-box;
    resize: none;
    font-size: 1rem;
    height: 2.5rem;
    line-height: 1.5rem;
    padding: calc(0.5rem - 1px) 0.75rem;
    border: 1px solid var(--light-color);
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, height 0.3s ease-in-out;
    border-radius: 3px;
    box-shadow: 0 0 1px var(--light-color) inset;
}

/* style placeholders */
body > div.container > div.block > div.row:nth-child(2) > div.form > input[type=text]::placeholder, body > div.container > div.block > div.row:nth-child(2) > div.form > textarea::placeholder {
    color: var(--lighter-text-color);
}

/* on focus */
body > div.container > div.block > div.row:nth-child(2) > div.form > input[type=text]:focus, body > div.container > div.block > div.row:nth-child(2) > div.form > textarea:focus {
    border-color: var(--theme-color);
    box-shadow: 0 0 1px var(--light-theme-color) inset;
}

/* textarea is large when it has content or is focused */
body > div.container > div.block > div.row:nth-child(2) > div.form > textarea:focus, body > div.container > div.block > div.row:nth-child(2) > div.form > textarea:not(:placeholder-shown) {
    height: calc(1rem + (1.5rem * 8));
}

body > div.container > div.block > div.row:nth-child(2) > div.form > input[type=text]:focus::placeholder, body > div.container > div.block > div.row:nth-child(2) > div.form > textarea:focus::placeholder {
    color: var(--light-text-color);
}

/* on mobile views, textarea is always large */
@media only screen and (max-width: 650px) {
    body > div.container > div.block > div.row:nth-child(2) > div.form > textarea {
        height: calc(1rem + (1.5rem * 10)) !important;
    }
}

/* button container */
body > div.container > div.block > div.row:nth-child(2) > div.form > div.button_container {
    float: left;
    width: 100%;
    min-height: 2.5rem;
    user-select: none;
}

/* button container direct children */
body > div.container > div.block > div.row:nth-child(2) > div.form > div.button_container > * {
    float: left;
    display: block;
    height: 2.5rem;
}

/* "submit proposal" button */
body > div.container > div.block > div.row:nth-child(2) > div.form > div.button_container > button {
    line-height: calc(2.5rem - 1px);
    font-size: 0.9rem;
    padding: 0 0.75rem;
    border: 1px solid var(--theme-color);
    border-radius: 3px;
    box-sizing: border-box;
    vertical-align: top;
    background-color: var(--theme-color);
    color: #fff;
    transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1.25rem;
}

/* button hover */
body > div.container > div.block > div.row:nth-child(2) > div.form > div.button_container > button:hover {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}

/* checkbox container */
body > div.container > div.block > div.row:nth-child(2) > div.form > div.button_container > div.submit_anon_checkbox {
    height: 2.5rem;
    box-sizing: border-box;
    padding: 0.625rem 0;
}

/* checkbox container direct children */
body > div.container > div.block > div.row:nth-child(2) > div.form > div.button_container > div.submit_anon_checkbox > * {
    display: block;
    float: left;
}

/* don't display the actual checkbox */
body > div.container > div.block > div.row:nth-child(2) > div.form > div.button_container > div.submit_anon_checkbox > input[type=checkbox] {
    display: none;
}

/* style checkbox label (effectively IS the checkbox) */
body > div.container > div.block > div.row:nth-child(2) > div.form > div.button_container > div.submit_anon_checkbox > input[type=checkbox] + label {
    width: 1.25rem;
    height: 1.25rem;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(#fff, #fff), url(../../img/checkbox_checked_icon.png);
    margin-right: 0.5rem;
    border-radius: 3px;
    box-sizing: border-box;
    border: 2px solid var(--theme-color);
    cursor: pointer;
}

/* checkbox label when checkbox is checked */
body > div.container > div.block > div.row:nth-child(2) > div.form > div.button_container > div.submit_anon_checkbox > input[type=checkbox]:checked + label {
    background-image: url(../../img/checkbox_checked_icon.png);
}

/* checkbox "submit anonymously" text */
body > div.container > div.block > div.row:nth-child(2) > div.form > div.button_container > div.submit_anon_checkbox > label.text {
    font-size: 0.85rem;
    line-height: 1.25rem;
    color: var(--text-color);
    cursor: pointer;
}